.card-container{
    width: 310px;
    margin: 15px 5px;
    border: 2px solid black;
    box-shadow: 0 0 4px black;
    h2{
        width: 100%;
        font-size: 20px;
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        background-color: cadetblue;
        padding: 7px 0;
       
              
    }
    .list-item-card{
        width: 90%;
        margin: 0 5%;
        div.item-card{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            
            h3{
                font-size: 22px;
                margin-top: 0;
                font-family: "Bebas Neue", sans-serif;

            }
            span{
                font-size: 20px;
                margin-top: -25px;
            }
          }
    }
    
    .button-card{
        padding: 7px 10px;
        border-radius: 5px;
        margin-left: 75%;
        border: none;
        background-color: #2a96f3;
        margin-bottom: 15px;
        
    }
}